.artmain {
    text-align: center;
    padding: 120px 0 60px;

    h1 {
        margin-bottom: 0;
    }

    .subtitle {
        color: #fff;
        margin-bottom: 56px;
    }

    img {
        width: 100%;
        margin-bottom: 150px;
    }

    .artmain__subtitle {
        font-family: 'Miller_Banner_Regular_Italic';
        font-size: 42px;
        max-width: 860px;
        margin: 0 auto 40px;
        color: #fff;
        line-height: normal;
    }

    .descr {
        p {
            margin-bottom: 20px;
            color: #fff;
            line-height: 150%;

            span {
                font-size: 20px;
                font-family: 'Miller_Banner_Bold';
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .styled-text {
            font-style: italic;
            font-weight: 500;
            font-size: 24px;

        }
    }
}

.artinfosect {
    padding: 150px 0 190px;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(#433041, 0.7);
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .star1 {
        position: absolute;
        right: 30%;
        top: 20%;
        animation: move 3s infinite;
        width: 50px;
        animation-delay: 0.5s;
        z-index: 3;
    }

    .star2 {
        position: absolute;
        left: 17%;
        bottom: 28%;
        animation: move 3s infinite;
        width: 30px;
        animation-delay: 0.5s;
        z-index: 3;
    }
}

.artinfosect__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.artinfosect .row {
    margin-bottom: 25px;

    &:nth-child(1) {
        h2 img {
            left: -62px;
            top: -45px;
            width: 316px;
        }
    }

    &:nth-child(2) {
        h2 img {
            left: -42px;
            top: -47px;
            width: 431px;
        }
    }
}

.artinfosect__item {
    h2 {
        margin-bottom: 20px;
        position: relative;
        display: inline-block;

        img {
            position: absolute;
            max-width: initial;
        }
    }

    p {
        margin-bottom: 20px;
        font-size: 20px;
        color: #fff;
        line-height: 150%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.artinfosect__topshadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.artinfosect__bottshadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.artwhothisfor {
    padding: 150px 0;
}

.circles-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.circle-item {
    border: 1px solid #fff;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 359px;
    flex: 0 0 359px;
    margin-left: -50px;
    border-radius: 50%;
    background: #806F7F;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
    }

    img {
        width: 24px;
    }

    &:nth-child(1) {
        margin-left: 0;
    }

    &:nth-child(2) {
        img {
            position: absolute;
            left: 9px;
            top: 79px;
        }
    }

    &:nth-child(3) {
        img {
            position: absolute;
            left: 9px;
            bottom: 79px;
        }
    }

    &:nth-child(4) {
        img {
            position: absolute;
            left: 9px;
            top: 79px;
        }
    }
}

.artwhothisfor__header {
    text-align: center;
    margin-bottom: 80px;

    h2 {
        margin-bottom: 24px;
    }

    p {
        color: #fff;
        margin: 0;
        font-size: 20px;
        font-weight: 500;
    }

}

.artwhothisfor__styledtext {
    font-family: 'Miller_Banner_Regular_Italic';
    font-size: 42px;
    line-height: 150%;
    color: #fff;
    text-align: center;
}

.artwork {
    background: #433041;
    padding: 150px 0;

    .descr {
        margin-top: 40px;

        p {
            color: #fff;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.artwork__item {
    margin-bottom: 22px;
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 28px 15px 28px 28px;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        height: 56px;
        margin-bottom: 10px;
    }

    h4 {
        color: #fff;
        font-size: 24px;
        margin-bottom: 8px;
        line-height: 140%;
    }

    p {
        margin: 0;
        color: #fff;
    }
}

.artqsect {
    text-align: center;
    padding: 150px 0;

    h2 {
        margin-bottom: 25px;
    }

    p {
        color: #fff;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media(max-width:1399.8px) {
    .artmain {
        padding: 100px 0 60px;
    }

    .artmain .artmain__subtitle {
        margin-bottom: 30px;
    }

    .artinfosect .row:first-child h2 img {
        left: -71px;
        top: -44px;
        width: 300px;
    }

    .artinfosect .row:nth-child(2) h2 img {
        left: -39px;
        top: -47px;
        width: 400px;
    }

    .artinfosect {
        padding: 120px 0;
    }

    .artwhothisfor {
        padding: 120px 0;
    }

    .artwhothisfor__header h2 {
        margin-bottom: 15px;
    }

    .circle-item {
        max-width: 316px;
        flex: 0 0 316px;
    }

    .circle-item:nth-child(2) img,
    .circle-item:nth-child(4) img {
        left: 11px;
        top: 60px;
    }

    .circle-item:nth-child(3) img {
        left: 11px;
        bottom: 60px;
    }

    .artmain img {
        margin-bottom: 120px;
    }

    .artwork,
    .artqsect {
        padding: 120px 0;
    }



    .artwhothisfor__header {
        margin-bottom: 60px;
    }

    .artmain .subtitle {
        margin-bottom: 40px;
    }

    .artmain .artmain__subtitle,
    .artwhothisfor__styledtext {
        font-size: 36px;
    }

    .artmain .descr .styled-text {
        font-size: 21px;
    }

    .artwhothisfor__header p {
        font-size: 18px;
    }

    .artinfosect__item p,
    .circle-item p {
        font-size: 16px;
    }


}

@media(max-width:1199.8px) {

    .circle-item {
        max-width: 266px;
        flex: 0 0 266px;
    }

    .circle-item:nth-child(2) img,
    .circle-item:nth-child(4) img {
        left: 8px;
        top: 48px;
    }

    .circle-item:nth-child(3) img {
        left: 8px;
        bottom: 48px;
    }

    .artmain img,
    .circles-wrap {
        margin-bottom: 40px;
    }

    .artmain .subtitle {
        margin-bottom: 25px;
    }


    .artmain .artmain__subtitle,
    .artwhothisfor__styledtext {
        font-size: 28px;
    }

    .artmain .descr .styled-text {
        font-size: 18px;
    }
}

@media(max-width:991.8px) {

    .circle-item {
        max-width: 206px;
        flex: 0 0 206px;
    }

    .circle-item:nth-child(2) img,
    .circle-item:nth-child(4) img {
        left: 8px;
        top: 28px;
    }

    .circle-item:nth-child(3) img {
        left: 8px;
        bottom: 28px;
    }

    .artwhothisfor__header {
        margin-bottom: 30px;
    }

    .artmain .artmain__subtitle,
    .artwhothisfor__styledtext {
        font-size: 24px;
    }

    .artwork {
        h2 {
            margin-bottom: 30px;
        }
    }




    .circle-item p {
        font-size: 13px;
    }
}

@media(max-width:767.8px) {

    .artinfosect h2 img,
    .artinfosect .star1,
    .artinfosect .star2 {
        display: none;
    }

    .artinfosect__item h2 {
        margin-bottom: 10px;
    }

    .artinfosect {
        padding: 70px 0;
    }

    .circles-wrap {
        flex-wrap: wrap;
    }

    .circle-item {
        max-width: 50%;
        flex: 0 0 50%;
        margin-left: 0;

        img {
            display: none;
        }

        &:nth-child(2),
        &:nth-child(4) {
            margin-left: -50px;
        }
    }

    .circle-item p {
        font-size: 16px;
    }

    .circle-item:nth-child(2) img,
    .circle-item:nth-child(4) img {
        left: 11px;
        top: 60px;
    }

    .circle-item:nth-child(3) img {
        left: 11px;
        bottom: 60px;
    }

    .artwhothisfor,
    .artqsect,
    .artwork {
        padding: 70px 0;
    }
}

@media(max-width:575.8px) {
    .circles-wrap {
        justify-content: center;
        margin-top: 80px;
    }

    .circle-item {
        max-width: 70%;
        flex: 0 0 70%;
        margin-left: 0 !important;
        margin-top: -50px;
    }

    .artwork__item h4 {
        font-size: 21px;
    }

    .artwork__item {
        padding: 20px;
    }

    .artwork__item img {
        height: 46px;
    }

    .artqsect p {
        font-size: 15px;
        margin-bottom: 20px;
    }




    .artmain,
    .artinfosect,
    .artwhothisfor,
    .artwork,
    .artqsect {
        padding: 70px 0;
    }


    .artmain img,
    .circles-wrap {
        margin-bottom: 30px;
    }

    .artmain .artmain__subtitle,
    .artwhothisfor__styledtext {
        font-size: 21px;
    }

    .artwhothisfor__header h2 {
        margin-bottom: 10px;
    }

    .artwhothisfor__header p {
        font-size: 16px;
    }
}