.booksection {
    padding: 150px 0;

    .container {
        position: relative;
    }
}

.back {
    margin-bottom: 16px;

    a {
        color: #fff;
        text-decoration: none;
        display: inline-flex;
        align-items: center;

        img {
            width: 24px;
            margin-right: 16px;
            transition: 0.3s;
        }

        span {
            display: inline-block;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                height: 1px;
                width: 0;
                background: #fff;
                position: absolute;
                right: 0;
                bottom: -2px;
                transition: 0.3s;
            }
        }

        &:hover {
            img {
                transform: translateX(-10px);
            }

            span {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

.bookserv {
    border-radius: 20px;
    background: #fff;
    padding: 36px;

    h2 {
        margin-bottom: 19px;
        color: #433041;
        text-align: center;
    }

    .bookserv__info {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        .btnwrap {
            width: 100%;
            max-width: 200px;
            flex: 0 0 200px;
            text-align: right;

            button {
                height: 45px;
                background: #433041;
                border: 1px solid #433041;
                max-width: 100%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #fff;
                font-weight: 500;
                font-size: 16px;
                padding: 3px 24px;
                border-radius: 30px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: #433041;
                    background: #fff;
                }
            }
        }

        .intro {
            width: 100%;
            max-width: calc(100% - 200px);
            flex: 0 0 calc(100% - 200px);
            border-left: 1px solid #433041;
            padding-left: 18px;

            h4 {
                margin-bottom: 6px;
                color: #433041;
                font-size: 24px;
                font-family: "Playfair Display", serif;
                font-weight: 700;
            }

            p {
                margin-bottom: 6px;
                color: #433041;

                &:last-child {
                    margin-bottom: 0;
                }
            }


        }
    }
}

.calendywrap__header {
    margin-bottom: 60px;

    h2 {
        margin-bottom: 12px;
        color: #fff;
    }

    p {
        margin: 0;
        color: #fff;
    }
}

.ourservicesrow.hide {
    display: none;
}

.calendywrap {
    display: none;

    &.active {
        display: block;
    }
}

// -------------
.booksection-content {
    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    p {
        color: #fff;
        margin-bottom: 30px;
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h4 {
        color: #fff;
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 6px;
        font-family: "Playfair Display", serif;
    }

    .booknow {
        font-size: 16px;
        font-weight: 500;
        // font-family: "Inter", sans-serif;
        font-family: "Open Sans", sans-serif;
    }
}

.bookbox {
    text-align: center;
    margin: 40px 0;

    p {
        margin-bottom: 40px;
    }
}

.backlink {
    color: #fff;
    position: absolute;
    left: -12px;
    top: -30px;
    padding-left: 40px;
    text-decoration: none;

    img {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
    }

    &:hover {
        img {
            transform: translateY(-50%) translateX(-5px);
        }
    }
}

@media(max-width:1399.8px) {
    .booksection {
        padding: 120px 0;
    }
}

@media(max-width:767.8px) {
    .bookserv .bookserv__info {
        flex-wrap: wrap;
    }

    .bookserv .bookserv__info .btnwrap {
        text-align: left;
        margin-top: 15px;
    }

    .bookserv .bookserv__info .intro,
    .bookserv .bookserv__info .btnwrap {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .booksection {
        padding: 70px 0;
    }

    .booksection-content h2,
    .booksection-content p {
        br {
            display: none;
        }
    }

    .bookbox p {
        margin-bottom: 20px;
    }
}

@media(max-width:575.8px) {

    .bookserv {
        padding: 30px 20px;
    }

}