.herosection {
    h1.white-color {
        color: #fff;
    }

    h1.text-left {
        text-align: left;
    }
}

.services-overview {
    padding: 90px 0 100px;
    position: relative;
    background: #433041;

    .labeltext {
        margin-bottom: 24px;
    }

    h2 {
        margin-bottom: 52px;
        text-align: center;
    }

    .star1 {
        position: absolute;
        left: 30%;
        top: 150px;
        animation: move 3s infinite;
        width: 40px;
        animation-delay: 0.5s;
    }

    .star2 {
        position: absolute;
        right: 30%;
        top: 240px;
        animation: move 3s infinite;
        width: 29px;
    }
}





.pricing-section {
    position: relative;
    overflow: hidden;
    padding: 130px 0 110px;

    h2 {
        text-align: center;
        margin-bottom: 42px;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .star1 {
        position: absolute;
        top: -30px;
        right: 0;
        width: 48px;
        animation: move 3s infinite;
        right: 32%;
    }
}

.pricingrow {
    margin-left: -40px;
    margin-right: -40px;

    .col-md-4 {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.pricing-section__bottomsect {
    text-align: center;
    margin-top: 40px;
}

.pricing-section__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0.1;
}

.herosection.herosection__servprices .cont-butterfly {
    width: 138px;
    height: auto;
    transform: rotate(-12deg);
    position: absolute;
    left: -50px;
    top: -85px;
}

.pricing-section .pricing-section__bottomsect {
    margin-top: 50px;
}

.services-overview .col-lg-6 {
    margin-bottom: 24px;
}

.serviceoverview {
    background: #806F7F;
    border: 1px solid #806F7F;
    border-radius: 20px;
    padding: 40px;
    display: block;
    text-decoration: none;
    transition: 0.3s;
    min-height: 372px;
    height: 100%;

    &:hover {
        background: transparent;
        border-color: #fff;
    }

    h3 {
        margin-bottom: 12px;
    }

    p {
        color: #C6C6C6;
        font-size: 14px;
        margin-bottom: 24px;
    }

    .serviceoverview__more {
        display: inline-block;
        color: #fff;
        font-weight: 600;
        text-decoration: none;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #fff;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -2px;
            transition: 0.3s;
        }
    }
}

.serviceoverview__icon {
    height: 72px;
    margin-bottom: 24px;
    vertical-align: top;
}

.servpricingbox {
    background: #433041;
    border-radius: 20px;
    padding: 36px 20px;
    border: 1px solid #fff;
    text-align: center;
    min-height: 468px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        font-size: 24px;
        margin-bottom: 12px;
        font-weight: 700;
        font-family: "Lato", sans-serif;
    }

    p {
        color: #C6C6C6;
    }

    .time {
        color: #888888;
        margin-bottom: 12px;

        img {
            width: 20px;
            vertical-align: middle;
            margin-right: 8px;
            margin-top: -3px;
        }
    }

    .price {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 120%;
        color: #fff;
        min-height: 48px;

        span {
            display: block;
            color: #888888;
            font-size: 16px;
        }
    }

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        max-width: 154px;
        width: 100%;
        min-height: 48px;
        border: 1px solid #fff;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            background: #fff;
            color: #433041;
        }
    }
}

@media(max-width:1399.8px) {

    .pricing-section {
        padding: 80px 0;
    }

    .pricing-section h2 {
        margin-bottom: 50px;
    }

    .servpricingbox {
        h3 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }



}

@media(max-width:1199.8px) {
    .services-overview {
        padding: 70px 0;
        position: relative;
    }

    .services-overview .star2 {
        top: 200px;
        right: 20%;
    }

    .services-overview .star1 {
        left: 20%;
    }

    .pricingrow {
        margin-left: -15px;
        margin-right: -15px;

        .col-md-4 {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .servpricingbox {
        h3 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
        }
    }

    .servpricingbox {
        margin-bottom: 24px;
    }

    .pricing-section .star1 {
        right: 27%;
    }


}

@media(max-width:991.8px) {
    .serviceoverview {
        min-height: initial;
    }

    .serviceoverview p {
        font-size: 16px;
    }

    .servpricingbox h3 {
        font-size: 28px;
    }

    .pricing-section .star1 {
        right: 22%;
    }
}

@media(max-width:767.8px) {
    .services-overview .star2 {
        right: 10%;
    }

    .services-overview .star1 {
        left: 10%;
    }

    .services-overview {
        padding: 70px 0 50px;
        position: relative;
    }

    .pricing-section {
        padding: 70px 0;
    }

    .pricing-section__bottomsect {
        margin-top: 0;
    }

    .pricing-section h2 {
        margin-bottom: 30px;
    }

    .serviceoverview__icon {
        margin-bottom: 16px;
    }

    .serviceoverview h3 {
        font-size: 24px;
    }

    .pricing-section .star1 {
        right: 12%;
    }

    .servpricingbox h3 {
        font-size: 24px;
    }


}

@media(max-width:575.8px) {
    .services-overview {
        padding: 50px 0 30px;
    }

    .services-overview .star1 {
        left: 10px;
        top: 100px;
    }

    .services-overview .star2 {
        right: 10px;
        top: 150px;
    }

    .pricing-section {
        padding: 70px 0 50px;
    }

    .herosection.herosection__servprices {
        .cont-butterfly {
            width: 120px;
            left: 0;
        }

        h1 {
            text-align: center;
        }
    }

    .pricing-section .pricing-section__bottomsect {
        margin-top: 30px;
    }

    .serviceoverview {
        padding: 30px 20px;
    }

    .serviceoverview__icon {
        height: 60px;
        margin-bottom: 8px;
    }

    .serviceoverview h3 {
        font-size: 21px;
        margin-bottom: 8px;
    }

    .serviceoverview p {
        margin-bottom: 16px;
    }

    .pricing-section .star1 {
        right: 10px;
        width: 40px;
    }

    .servpricingbox {
        min-height: 420px;
        padding: 36px;
    }
}